
*.suo
*.user
/product/Just25/bin/Debug/Just25.exe
/product/Just25/bin/Debug/Just25.pdb
/product/Just25/bin/Debug/Just25.vshost.exe
/product/Just25/bin/Debug/TrayClock.UI.vshost.exe.manifest
/product/Just25/obj/Debug/Just25.AboutBox1.resources
/product/Just25/obj/Debug/Just25.Form1.resources
/product/Just25/obj/Debug/Just25.Properties.Resources.resources
/product/Just25/obj/Debug/Just25.csproj.FileListAbsolute.txt
/product/Just25/obj/Debug/Just25.csproj.GenerateResource.Cache
/product/Just25/obj/Debug/Just25.exe
/product/Just25/obj/Debug/Just25.pdb
/product/Just25/obj/Debug/ResolveAssemblyReference.cache
/product/Just25/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/_ReSharper.Just25/CachesImage.bin
/_ReSharper.Just25/ProjectModel/ProjectModel.dat
/_ReSharper.Just25/TodoCache/.version
/_ReSharper.Just25/WebsiteFileReferences/.version
/_ReSharper.Just25/WordIndex.New/.version
/_ReSharper.Just25/CachesImage.bin
/_ReSharper.Just25/ProjectModel/ProjectModel.dat
/_ReSharper.Just25/TodoCache/.version
/_ReSharper.Just25/WebsiteFileReferences/.version
/_ReSharper.Just25/WordIndex.New/.version
/Just25.4.5.resharper.user
/Just25.suo
/product/Just25/bin/Debug/Interop.iTunesLib.dll
/product/Just25/bin/Debug/Just25.exe
/product/Just25/bin/Debug/Just25.pdb
/product/Just25/bin/Debug/Just25.vshost.exe
/product/Just25/bin/Debug/TrayClock.UI.vshost.exe.manifest
/product/Just25/obj/Debug/Just25.AboutBox1.resources
/product/Just25/obj/Debug/Just25.Form1.resources
/product/Just25/obj/Debug/Just25.Properties.Resources.resources
/product/Just25/obj/Debug/Just25.csproj.FileListAbsolute.txt
/product/Just25/obj/Debug/Just25.csproj.GenerateResource.Cache
/product/Just25/obj/Debug/Just25.exe
/product/Just25/obj/Debug/Just25.pdb
/product/Just25/obj/Debug/ResolveAssemblyReference.cache
/product/Just25/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll